/* Global Styles */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Chivo', sans-serif;
}

h1, p {
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header {
    background: rgb(0, 255, 27);
    background: linear-gradient(38deg, rgba(0, 255, 27, 1) 27%, rgba(255, 241, 241, 1) 100%);
    color: white;
    font-size: 32px;
    padding: 32px;
    margin: 0;
    text-align: center;

}

.header a {
    text-decoration: none; 
    font-size: 25px;
    color: white;
    padding-right: 8px;
}

.header a:hover{
    color: green;
}

.header img {
    width: 200px;
}

/* Content Styles */
.content {
    padding: 32px 16px 32px 16px;
    margin: 50px 128px;
    box-shadow: 6px 4px 4px grey;
    font-size: 24px;
    text-align: center;
}

.content img {
    width: 250px;
}

.Welcome-Text {
    font-size: 30px
}

#first-paragraph {
    color: black
}

.Cupcake-text {
    font-size: 30px;
}

.contact-content{
    text-align:center;
    margin: 18;
    border-radius: 6px 6px 0 0;
    box-shadow: 6px 6px 6px grey;
}

form {
    padding: 12px;
}

.contact-content input[type="submit"] {
    background: lightgrey;
    padding: 16px; 
    border-radius: 8px;
}

/* Footer Styles */
.footer {
    text-align: center;
    margin-top: 12px;
}

.fa {
font-size: 40px;
text-decoration: none;
color: black;
padding: 4px;
}
.footer a:hover{
color: grey;
}
.footer a:active{
    color: grey;
}

@media screen and (max-width: 750px) {
    .logo {
        align-items: center;
        justify-content: center;
    }

    .content {
        margin: 16px;
    }
    .message {
        width: 250px;
        height: 75px;
    }   

    .footer {
        margin-top: 12px;
    }

}

