/* Global Styles */
body,
html {
  background: White;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header {
  background: PowderBlue;
  padding: 1rem;
}

.header h1 {
  font-family: 'Major Mono Display', monospace;
  padding: 1rem;
  color: White;
  background: Coral;
  width: 176px;
  border-radius: 6px;
}

.header a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 0 0.5rem;
}

/* Content Styles */
.content {
  text-align: center;
}

.content img {
  border-radius: 12px;
  width: 40%;
}

.contact-content {
  background: lemonchiffon;
  margin: 0 25%;
}

.contact-content p {
  padding: 2rem;
}

.flash {
  animation-name: flash;
  animation-duration: 0.33s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash {
  from {
    color: coral;
  }
  to {
    color: black;
  }
}

/* Footer Styles */
.footer {
  padding-top: 3rem;
  text-align: center;
}

.footer a {
  text-decoration: none;
  text-transform: uppercase;
  color: Coral;
}
